<div class="Container">

  <br>
  <br><br><br><br><br><br><br><br><br><br><br>
<h1>Website Development - Portfolio</h1>
<br>
<br><br><br><br><br><br><br><br><br><br>
<h3>Introduction</h3>
<br>
<p>I will delve into the development of this Website and show how I chose to tackle a few of the challenges.</p>
<br>
<div class="List">
<ul>
  <li (click)="onClick('Angular')" >Angular Framework</li>
  <br>
  <li (click)="onClick('Design')">The Design</li>
  <br>
  <li (click)="onClick('Mobile')">Mobile Usability</li>

</ul>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br>
<div id="Angular"></div>
<h3>Angular Framework</h3>
<br>
<p>The Website first started as a learning experience to grow my Front-End skills.<br>
The learning experience was easy as I had tons of information and examples on the internet to approach this the way I wanted.
<br>When first learning Angular on their website I was shown how handle the data from interfaces to create lists of items and choose which type of data was shown, this was very helpful, it meant I could easily add new Works to my portfolio by adding them to an Interface.
</p>
<br><br><br><br><br><br><br><br>
<img src="../../assets/Images/AngularInterface.png" >
<h6>Interface used to pull data from where I query content from to create the boxes in the main page</h6>
<p>This Interface was mainly helpful in making the boxes seen in the index, or first page, where you can see boxes for each work I have done, and also provides a very neat and clean html file as seen bellow.</p>
<br><br><br><br><br><br><br><br><br><br>
<img src="../../assets/Images/WorkBoxesHtml.png">
<h6>Html code used to make boxes in first page</h6>
<br><br>
<br><br><br><br><br>
<div id="Design"></div>
<h3>The Design</h3>
<br>
<p>When thinking of the design for the website I envisioned something very easy to traverse, with mostly images and little text.
  I wanted it to be sleek and clean, so my first image were the boxes from the first page.
  <br> <br>
  Afterwards, the hard part was to translate my mental image into paper, while it might look good in my head it would look very different if I didn't flesh it out more.
  <br> <br>
  In order to achieve something I liked I analysed shapes from other websites and made the first shapes, round shapes, slate, sharp shapes. After building on that I choose many colour pallets, but after a while I ended up creating my own and I cannot stress how important it is to have a colour pallet, it will inspire the theme of your website and flourish new ideas, this is applied to any project.
</p>
<br><br><br><br><br><br><br><br><br><br><br>
<div id="Mobile"></div>
<h3>Mobile Usability</h3>
<br><br>
<p>At the start mobile was already in mind, the design was already simple, so to adapt to Mobile devices changes were made to the CSS, a basic check if the user is in Portrait or Landscape mode allowed me to change it accordingly.
  <br>
  Mainly, the changes needed were to change paddings and make it so the grid of boxes only fit 1 in mobile and 2 when not on mobile, of course, also slight text adjustments
</p>
<!-- Arrow Up -->
<div class="ArrowUp">

  <a (click)="onClick('TopPage')" ><img src="../../assets/Images/ArrowUp.png" ></a>

</div>





</div>
