<div class="Container">

  <br>
  <br>
<h1>Unity Multiplayer Demo</h1>
<br>
<br>
<img src="../../assets/Images/UnityMP.png" >
<h6>Game Menu</h6>
<br>
<br>
<br>
<br>
<h3>Introduction</h3>
<br>
<p>The following project was done as a final year project in my last year of University on a Indie Games Development Course.</p>
<br>
<div class="List">
  <b>

    <ul>
      <li (click)="onClick('Scope')">Project Scope</li>
      <br>
      <li (click)="onClick('Art')">Artistic Choice</li>
      <br>
      <li (click)="onClick('Game Design')">Game Design</li>
      <br>
      <li (click)="onClick('Multiplayer')">Multiplayer</li>
    </ul>
  </b>
</div>
<br><br><br>
<br>
<div id="Scope"></div>
<h3>Project Scope</h3>
<br>
<p>When I started the project I knew that my time limit was 3 Months, I wanted to challenge myself as always, and so, after scrolling in my mind and notepads for ideas, I decided that Multiplayer was my biggest interest and what I desired to learn at the time.<br><br>
I was mostly inspired by Warcraft 3 Custom maps to decide on this projects game design.
After tons of experimenting I wanted a fast real time action game, I love the wall jumping mechanics and believe that they are still a mechanic with tons to grab from, although I did not delve too much into it, it has been on my mind.<br><br>
I had a huge scope for the given time, but I still managed to accomplish the main objectives.
</p>
<br>
<br>
<br>
<br>
<div id="Art"></div>
<h3><i>Artistic Choice</i></h3>
<p>
This was one of the most difficult parts, being mostly experienced with realism, learning the stylized art that I choose for this
 project was something to tackle. The art style was mostly inspired by <i><b> Risk of Rain 2</b></i> although I did add touches from other art styles, making it a bit more messy but first person focused.
</p>
<br><br>
<div id="Game Design"></div>
<h3>Game Design</h3>
<img src="../../assets/Images/FMP/Classes.png" >
<h6>Class menu after creating or joining a server</h6>
<br>
<p>The game can have tons of classes, at this time 2, with the main objective of defeating as many bosses(final level, strong enemies) as you can in the shortest time possible, at the highest difficulty you can.
  <br>
  You start off in a small town with a gear and weapons shop, as well as a portal that takes you to the next undefeated level. there are currently 6 levels, with a boss in every third level.

</p>
<br><br>
<img src="../../assets/Images/FMP/Town.png">
<h6>Starting Town with the concept Interface</h6>
<br><br>
<img src="../../assets/Images/FMP/Shopping.png">
<h6>Shopping at the gear NPC</h6>
<br><br>
<img src="../../assets/Images/FMP/SkillTree.png">
<h6>Skills Tree</h6>
<br><br>
<img src="../../assets/Images/FMP/SkillBook.png">
<h6>Skill Book</h6>
<br><br>
<img src="../../assets/Images/FMP/EnemiesandDung.png">
<h6>Enemies and Dungeon</h6>
<br><br>
<img src="../../assets/Images/FMP/KillingEnemies.png">
<h6>Enemies Health bar and combat</h6>
<br><br>
<img src="../../assets/Images/FMP/AnotherLevel.png">
<h6>Another Level theme</h6>
<br><br>
<img src="../../assets/Images/FMP/Bossf.png">
<h6>Boss Fight</h6>
<br><br>
<img src="../../assets/Images/FMP/BossDecisionTree.png">
<h6>Boss Decision Tree</h6>
<br><br>
<p>All the enemies were made using decisions trees, as after making a diagram the logic was very easy to replicate. <br> The Boss seen above works exactly like seen in the Diagram.</p>
<br><br><br><br>
<div id="Multiplayer"></div>
<h3><b>Multiplayer</b></h3>
<br>
<p>Now for the main event, multiplayer, at the start it was easy, having worked before on multiplayer games, easy, right?
  <br> <br>
  No, using Photon there were times where, testing on a server of their own, not locally, I had to deal with packet losses, as well as compression of vectors and so on.
  <br> <br>
  This is mostly to say that after expecting problems like not syncing health correctly and so on (I had those too), those weren't the main issue, but after dealing with unexpected errors I feel more capable of working with actual servers instead of testing locally like I used to.
  <br> <br>

</p>
<br><br>
<br><br>
<br><br>
<h6>Project done : Q1 2021</h6>
<div class="ArrowUp">

  <a (click)="onClick('TopPage')" ><img src="../../assets/Images/ArrowUp.png" ></a>

</div>







</div>
