<div class="Container">

  <br>
  <br>
<h1>Horror Game Prototype</h1>
<br>
<br>
<h3>Introduction</h3>
<br>
<p>During my time at university I challenged myself on making a Prototype for a Horror game, on which I focused on learning lighting, substance designer and Unity HDRP.</p>
<br>
<br><br>
<img src="../../assets/Images/HorrorGame/Menu.gif" >
<h6>Main Menu</h6>
<br>
<div id="Angular"></div>
<h3></h3>
<br>
<p>As mentioned in the introduction I wanted to improve my lighting skills, but most importantly to get a horror mood, this is where Unity HDRP came as it allows for Volumetric lighting, creating beautiful rays of moonlight as seen below.<br>
</p>
<br><br>
<img src="../../assets/Images/HorrorGame/Lightray.png" >
<h6></h6>
<br>
<br><br>
<img src="../../assets/Images/HorrorGame/Inventory.png">
<h6>UI Inventory</h6>
<br><br>
<img src="../../assets/Images/HorrorGame/notes.png">
<h6>UI Notes</h6>
<br><br>
<img src="../../assets/Images/HorrorGame/Inside.png">
<h6></h6>
<br><br>
<img src="../../assets/Images/HorrorGame/inside2.png">
<h6>Inside Lighting</h6>
<br><br>
<p>Unity HDRP was great, visually, but at the time of development, this render pipeline was in early stages, full of bugs and lack of functionality. <br>
In terms of performance, lighting was very heavy, even with baked lights it proved difficult to have 10+ sources.
</p>
<h6>Project done : Q2 2020</h6>
<div class="ArrowUp">

  <a (click)="onClick('TopPage')" ><img src="../../assets/Images/ArrowUp.png" ></a>

</div>






</div>
